/* You can add global styles to this file, and also import other style files */
.bg-primary-gradiente{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #645deaaa 0%, #95ddec86 100%);
}

.bg-dark-gray{
    background-color: rgba(36, 36, 36, 0.767);
}